.advantages {
    background-color: $bg-primary-color;
    
    &__list {
    }
  
    &__item {
    }
  
    &__item:nth-child(4) {
    }
  
    &__title {

    font-size: $font-size-primary;
    line-height: $line-height-primary;
    text-transform: uppercase;
    }
  
    &__text {
    font-weight: $font-weight-normal;
    font-size: $font-size-primary;
    line-height: $line-height-text;
    }
  
    &__icon {
    border-radius: 4px;
    background-color: $bg-secondary-color;
    }
}
  