.advantages {
    margin-bottom: 60px;
    background-color: $bg-primary-color;
    
    @media screen and (max-width: 767px) {
        &__item:not(:last-child) {
        margin-bottom: 30px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
  
    &__title {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: $font-weight-bold;
        font-size: $font-size-primary;
        line-height: $line-height-primary;
        text-transform: uppercase;
        color: $text-title-color;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
  
    &__text {
    font-size: $font-size-primary;
    line-height: $line-height-text;
    }
  
    &__icon {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-bottom: 30px;
        text-align: center;
    border-radius: 4px;
    background-color: $bg-secondary-color;
    }

    /* TABLET */

    @media screen and (min-width: 768px) and (max-width: 1199px)  {
        &__list {
            display: flex;
            flex-wrap: nowrap;
            margin-top: -30px;
            margin-right: -15px;
            margin-left: -15px;
            }
            
          &__item {
            display: inline-block;
            margin-top: 30px;
            margin-right: 15px;
            margin-left: 15px;
      
            height: auto;
            width: calc((100% - 4 * 15px) / 2);
          }
           
    }

    /* DESKTOP */

    @media screen and (min-width: 1200px) {
        &__list {
            display: flex;
            justify-content: space-between;
        }

        &__item {
            width: calc((100% - 90px) / 4);
            margin-right: $margin-section-item;
        }
          
        &__item:nth-child(4) {
            margin-right: 0;
        }
    }
}
  