.contacts {

    &__item:not(:last-child) {
      }
      
    &__link {
      }
      
    &__link {
        font-weight: $font-weight-medium;
        font-size: $font-size-primary;
        line-height: $line-height-primary;
        letter-spacing: 0.02em;
        color: $text-primary-color;
      
        @include transition (color);
      }
      
    &__icon {
        fill: currentColor;
      }
      
    &__link:hover,
    &__link:focus {
        color: $activ-color;
      }
      
    @media screen and (max-width: 767px) {
        & {
          display: none;}
      }
}
  
  