.contacts {
      
    &__link {
        font-weight: $font-weight-medium;
        font-size: $font-size-modal-content;
        line-height: $line-height-title;
        letter-spacing: 0.02em;
        color: $text-primary-color;
      
        @include transition (color);
      }
      
    &__icon {
      margin-right: 8px;
        fill: currentColor;
      }

    &__icon--envelope {
      width: 14px;
      height: 10px;
    }

    &__icon--phone {
      width: 10px;
      height: 14px;
    }
      
    &__link:hover,
    &__link:focus {
        color: $active-color;
      }
      
    @media screen and (max-width: 767px) {
        & {
          display: none;}
      }

      /* TABLET */

    @media screen and (min-width: 768px) {
        & {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 21px 0;
        }

        &__link {
          display: flex;
        }

        &__item:not(:last-child) {
          margin-bottom: 10px;
        }
      }

}
  
  