.example {
    color: $text-title-color;
      
    &__item:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    }
      
    &__link {
      display: block;
      height: 100%;

      border-right: 1px solid $border-example-color;
      border-bottom: 1px solid $border-example-color;
      border-left: 1px solid $border-example-color;
      
      box-shadow: 0px 1px 1px $box-shadow-transition-color, 0px 4px 4px $box-shadow-transition-color,
        1px 4px 6px $box-shadow-transition-color;
      
      @include transition (box-shadow);
    }
      
    &__link:focus,
    &__link:hover {
      box-shadow: 0px 1px 1px $box-shadow-primary-color, 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    }
      
    &__content {
      padding: 20px 24px;
      background-color: $bg-primary-color;
    }
      
    &__title {
      margin: 0;
      margin-bottom: 4px;

      font-weight: $font-weight-bold;
      font-size: $font-size-example;
      line-height: $line-height-example;

      letter-spacing: 0.06em;
              
      color: $text-title-color;
    }
      
    &__text {
        font-size: $font-size-subtitle-button;
        line-height: $line-height-submit;
        
        color: $text-primary-color;
      }
      
    &__overlay {
        position: relative;
        overflow: hidden;
      }
      
    &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
      
        @include transition (transform);
      }
      
    &__specification {
        margin: 77px 24px;
        
        font-weight: $font-weight-normal;
        font-size: $font-size-example;
        line-height: $line-height-specification;
        
        color: $bg-primary-color;

        @media screen and (min-width: 768px) {
          margin: 49px 24px;
        }
    }
      
    &__link:focus .example__description,
    &__link:hover .example__description {
        transform: translateY(0);
      }

    /* TABLET */

    @media screen and (min-width: 768px) {
      &__list {
          display: flex;
          flex-wrap: wrap;
          margin-top: -30px;
          margin-right: -15px;
          margin-left: -15px;
        }
          
        &__item {
          display: inline-block;
          margin-top: 30px;
          margin-right: 15px;
          margin-left: 15px;
    
          height: auto;
          width: calc((100% - 4 * 15px) / 2);
        }
  }
}


