.footer {
  width: 100%;
  padding: 60px 15px;
    background-color: $footer-primary-color;

    &__container {
      text-align: center;
      }
      
    &__address {
      margin-bottom: 8px;
      font-style: normal;
      font-size: $font-size-primary;
      line-height: $line-height-text;

      color: $bg-primary-color;
    }
      
    &__item:not(:last-child) {
      margin-bottom: 8px;
      }
      
    &__contact {
      font-size: $font-size-primary;
      line-height: $line-height-text;
      color: $footer-text-color;
    }

    &__contacts {
      margin-bottom: 60px;
    }
}
  

  