.footer {
  width: 480px;
  padding: 0 15px;
    background-color: $footer-primary-color;

    &__container {
      }
      
    &__address {
        color: $bg-primary-color;
        font-style: inherit;
        font-size: $font-size-primary;
        line-height: $line-height-text;
      }
      
    &__item:not(:last-child) {
      }
      
    &__contact {
        font-size: $font-size-primary;
        line-height: $line-height-text;
        letter-spacing: 0.03em;
        color: $footer-text-color;
      }
}
  

  