.footer {
  width: 100%;
  padding: 60px 15px;
  background-color: $footer-primary-color;

  @media screen and (min-width: 1200px) {
    padding: 60px 0px;
  }

    &__container {
      text-align: center;
      
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
      }

      @media screen and (min-width: 1200px) {
        text-align: start;
      }
    }
      
    &__address {
      margin-bottom: 8px;
      font-style: normal;
      font-size: $font-size-primary;
      line-height: $line-height-text;

      color: $bg-primary-color;

      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
    }
      
    &__item:not(:last-child) {
      margin-bottom: 8px;

      @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
      }
    }
      
    &__contact {
      font-size: $font-size-primary;
      line-height: $line-height-text;
      color: $footer-text-color;
    }

    &__contacts {
      margin-bottom: 60px;

      @media screen and (min-width: 768px) {
        margin-left: 61px;
        margin-right: 165px;
      }

      @media screen and (min-width: 1200px) {
        margin: 0;
      }
    }
}
  

  