.header {
  position: relative;
  width: 100%;
  padding: 0 15px;
  background-color: $bg-primary-color;

    &--border {
        border: 1px solid $border-header-color;
      }

/* HEADER for MOBILE */
    &__container--mobile {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__menu-button {
      width: 40px;
      height: 40px;
      padding: 0;
      border: none;
      background-color: transparent;

      color: $logo-primary-color;
      
      @include transition (color);
    }

    &__menu-button:hover,
    &__menu-button:focus {
        color: $active-color;
      }

    &__icon {
      fill: currentColor;
    }

    &__menu-button--cross {
      position: absolute;
      top: 10px;
      right: 15px;
    }

    &__menu-container {
      display: none;
      position: fixed;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      padding: 48px 40px;

      background-color: $bg-primary-color;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

      z-index: 3;
    }

    &__menu-container.is-open {
      display: block;
    }

    &__menu {
      margin-bottom: 302px;
    }

    &__menu-navigation-item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__menu-navigation-link {
      font-weight: $font-weight-medium;
      font-size: $font-size-menu-header;
      line-height: $line-height-title;
      letter-spacing: 0.02em;
      
      color: $text-title-color;
    }

    &__menu-navigation-link--current {
      color: $active-color;
    }

    &__menu-contacts {
      margin-bottom: 64px;
    }

    &__menu-contacts-item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__menu-contacts-phone {
      font-weight: $font-weight-medium;
      font-size: $font-size-header-link;
      line-height: $line-height-title;
      letter-spacing: 0.02em;
      
      color: $active-color;
    }

    &__menu-contacts-mail {
      font-weight: $font-weight-medium;
      font-size: $font-size-header-mail;
      line-height: $line-height-title;
      letter-spacing: 0.02em;

      color: $text-primary-color;
    }

    &__menu-social {
      display: flex;
    }

    &__menu-social-item:not(:last-child) {
      margin-right: 10px;
    }

    &__menu-social-link {
      font-weight: $font-weight-medium;
      font-size: $font-size-example;
      line-height: $line-height-header-social-link;
      letter-spacing: 0.02em;
      
      color: $active-color;
    }

    &__menu-social-link--text {
      margin-right: 10px;
    }

    &__menu-social--vertical-line {
      width: 22px;
      
      color: rgba(33, 33, 33, 0.2);
    }

        /* HEADER for TABLET */

    @media screen and (min-width: 768px) {
      &__menu-container {
        display: none;
      }

      &__menu-button {
        display: none;
      }

      &__container {
        display: flex;
      }

    }

}


  

  