.hero {
  margin-bottom: 60px;
  padding: 0;
  color: $bg-primary-color;

    &__overlay {
        margin-left: auto;
        margin-right: auto;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2f303a;
      }

    @media screen and (max-width: 767px) {
      &__overlay {
        width: 100%;
        height: 400px; 
        background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/heromobileimg.jpg');
      }

      @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
            &__overlay {
            background-image: url('../images/heromobileimg@2x.jpg');
            }
      }

      @media screen and (min-device-pixel-ratio: 3),
          screen and (min-resolution: 288dpi),
          screen and (min-resolution: 3dppx) {
            &__overlay {
            background-image: url('../images/heromobileimg@3x.jpg');
            }
      }
    } 
      
    &__container {
        padding: 118px 53px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
          padding: 116px 204px;
        }

        @media screen and (min-width: 1200px) {
          margin-left: auto;
          margin-right: auto;
          padding: 0;
          padding-top: 200px;
          width: 696px;
        }
      }
      
    &__text {
        margin: 0;
        margin-bottom: 30px;
        font-family: $font-primary;
        font-weight: $font-weight-heavy;
        font-size: $font-size-logo;
        line-height: $line-height-project;
        text-align: center;

        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
          font-size: $font-size-hero;
          line-height: $line-height-hero;
        }
      }
      
    &__button {
        display: block;
        margin: auto;
        padding: 10px 32px;
      
        min-width: 200px;
        min-height: 50px;
      
        background-color: $active-color;
        color: $bg-primary-color;
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        font-size: $font-size-subtitle-button;
        line-height: $line-height-submit;
        align-items: center;
        letter-spacing: 0.06em;
      
        border-radius: 4px;
        border-color: transparent;
        box-shadow: 0px 4px 4px $box-shadow-button-color;
      }

  /* TABLET */

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__overlay {
      width: 100%;
      height: 400px; 
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/herotabletimg.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
          &__overlay {
          background-image: url('../images/herotabletimg@2x.jpg');
          }
    }

    @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
          &__overlay {
          background-image: url('../images/herotabletimg@3x.jpg');
          }
    }
  }
  
  /* DESKTOP */

  @media screen and (min-width: 1200px) {
    &__overlay {
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('../images/herodesktopimg.jpg');
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      &__overlay {
      background-image: url('../images/herodesktopimg@2x.jpg');
      }
}

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      &__overlay {
      background-image: url('../images/herodesktopimg@3x.jpg');
      }
}
  }
}
  

  