.hero {
    padding-top: 0;
    padding-bottom: 0;
    color: $bg-primary-color;

    &__overlay {
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/hero.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2f303a;
      }
      
    &__container {
        margin-left: auto;
        margin-right: auto;
      }
      
    &__text {
        font-weight: $font-weight-heavy;
        font-size: $font-size-hero;
        line-height: $line-height-hero;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      
    &__button {
        display: inline-block;
        padding: 10px 32px;
      
        min-width: 200px;
        min-height: 50px;
      
        background-color: $activ-color;
        color: $bg-primary-color;
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        font-size: $font-size-subtitle-button;
        line-height: $line-height-submit;
        align-items: center;
        letter-spacing: 0.06em;
      
        border-radius: 4px;
        box-shadow: 0px 4px 4px $box-shadow-button-color;
      }
}
  

  