.join {
    margin-bottom: 60px;

    &__title {
      margin-bottom: 20px;

      font-weight: $font-weight-bold;
      font-size: $font-size-primary;
      line-height: $line-height-primary;
      text-transform: uppercase;

      color: $bg-primary-color;
      }
      
    &__list {
      display: flex;
      justify-content: space-between;

      width: 206px;
      margin-left: auto;
      margin-right: auto;
      }
      
    &__item {
      width: 44px;
      height: 44px;
      }
      
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
        width: 100%;
        height: 100%;
      
        border-radius: 50%;
        color: $bg-primary-color;
        background-color: $bg-network-color;
      
        @include transition (background-color);
      }
      
    &__link:hover,
    &__link:focus {
        background-color: $active-color;
      }
      
    &__icon {
      width: 20px;
      height: 20px;
        fill: currentColor;
      }
}
  

  