.logo {
    color: $logo-primary-color;
  
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-header-mail;
    line-height: $line-height-title;

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
      
      font-size: $font-size-logo;
      line-height: $line-height-logo-card;
    }

    &__text {
        color: $active-color;
      }
      
    &__footer {
      display: inline-block;
      padding: 0;
      margin-bottom: 20px;

      font-family: $font-secondary;
      font-weight: $font-weight-bold;
      font-size: $font-size-logo;
      line-height: $line-height-logo-card;
      
      color: $logo-primary-color;
      }
      
    &__text--white {
        color: $bg-primary-color;
      }

    @media screen and (max-width: 767px) {
        & {
          display: inline-block;
          padding: 16px 0;
        }
      }

      /* TABLET */

    @media screen and (min-width: 768px) {
        & {
          display: inline-block;
          padding-top: 26px;
          padding-bottom: 26px;
          margin-right: 88px;
        }
      }
}
  

  