.logo {
    color: $logo-primary-color;
  
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-logo;
    line-height: $line-height-logo-card;
    letter-spacing: 0.03em;

    &__text {
        color: $activ-color;
      }
      
    &__footer {
      }
      
    &__text--white {
        color: $bg-primary-color;
      }

    @media screen and (max-width: 767px) {
        & {
          display: block;
          padding: 16px 0;
        }
      }
}
  

  