.logo {
    color: $logo-primary-color;
  
    font-family: $font-secondary;
    font-weight: $font-weight-bold;
    font-size: $font-size-logo;
    line-height: $line-height-logo-card;
    letter-spacing: 0.03em;
  
    margin-right: 93px;

    &__text {
        color: $activ-color;
      }
      
    &__footer {
        display: inline-block;
        margin-bottom: 20px;
      }
      
    &__text--white {
        color: $bg-primary-color;
      }
}
  

  