.project {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $bg-primary-color;

    &__list {
      display: flex;
      flex-wrap: wrap;

      margin-bottom: 40px;

      @media screen and (min-width: 768px) {
        flex-wrap: nowrap;
        margin-bottom: 30px;
        justify-content: center;
      }
    }

    &__item {
      margin-bottom: 15px;

      @media screen and (min-width: 768px) {
        margin-bottom: 0;
      }
    } 
    
    &__item:not(:last-child) {
      margin-right: 8px;
    }
      
    &__button {
      padding: 6px 22px;
      font-family: $font-primary;
      font-weight: $font-weight-medium;
      font-size: $font-size-subtitle-button;
      line-height: $line-height-project;
      letter-spacing: 0.03em;

      text-align: center;

      color: $text-title-color;
      background-color: $bg-secondary-color;

      border-radius: 4px;
      border: none;
      
      box-shadow: 0px 3px 1px $box-shadow-transition-color, 0px 1px 2px $box-shadow-transition-color,
          0px 2px 2px $box-shadow-transition-color;
      
      @include transition (background-color, color, box-shadow);
    }
      
    &__button:hover,
    &__button:focus {
      background-color: $active-color;
      color: $bg-primary-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px $box-shadow-primary-color;
    }
      
}

