.subscribe {

    &__title {
      }
      
    &__form {
      }
      
    &__input {
      
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px $box-shadow-button-color);
        border-radius: 4px;
        outline: transparent;
      
        background-color: inherit;
      
        color: $logo-primary-color;
      }
        
    &__input::placeholder {
        font-family: $font-primary;
        font-weight: $font-weight-normal;
        font-size: $font-size-subtitle-button;
        line-height: $line-height-placeholder;
      
        letter-spacing: 0.03em;
      
        color: $footer-text-color;
      }
      
    &__button {
      
        background: $active-color;
        box-shadow: 0px 4px 4px $box-shadow-button-color;
        border-radius: 4px;
        border-color: transparent;
      }
      
    &__button-text {
        font-family: $font-primary;
        font-weight: $font-weight-bold;
        font-size: $font-size-subtitle-button;
        line-height: $line-height-submit;
      
        letter-spacing: 0.06em;
      
        color: $bg-primary-color;
      }
      
    &__icon {
      }
}
  

  