.work {
    padding-top: 0px;
    background-color: $bg-primary-color;

    &__title {
        font-size: $font-size-title-section;
        line-height: $line-height-title;
      }
      
    &__list {
      }
      
    &__item {
      }
      
    &__item:nth-child(3n) {
      }
      
    &__text {
        
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        font-weight: $font-weight-bold;
        font-size: $font-size-primary;
        line-height: $line-height-primary;
        
        color: $bg-primary-color;
      }

    @media screen and (max-width: 1599px) {
        & {
          display: none;
        }
    }
}


  

  