$text-primary-color: #757575;
$text-title-color: #212121;
$active-color: #2196f3;
$bg-primary-color: #ffffff;
$bg-secondary-color: #f5f4fa;
$bg-network-color: rgba(255, 255, 255, 0.1);
$border-example-color: #eeeeee;
$border-header-color: #ececec;
$fill-primary-color: #afb1b8;
$checked-button-color: #188CE8;
$logo-primary-color: #000000;
$footer-primary-color: #2f303a;
$footer-text-color:  rgba(255, 255, 255, 0.6);

$box-shadow-primary-color: rgba(0, 0, 0, 0.12);
$box-shadow-secondary-color: rgba(0, 0, 0, 0.14);
$box-shadow-tertiary-color: rgba(0, 0, 0, 0.2);
$box-shadow-button-color: rgba(0, 0, 0, 0.15);
$box-shadow-transition-color: rgba(0, 0, 0, 0);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;

$font-primary: Roboto, sans-serif;
$font-secondary: Raleway, sans-serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;
$font-size-modal-content: 12px;
$font-size-primary: 14px;
$font-size-subtitle-button: 16px;
$font-size-example: 18px;
$font-size-modal-title: 20px;
$font-size-header-mail: 24px;
$font-size-logo: 26px;
$font-size-title-mobile: 28px;
$font-size-header-link: 34px;
$font-size-title-section: 36px;
$font-size-menu-header: 40px;
$font-size-hero: 44px;

$line-height-primary: 1.14;
$line-height-modal-title: 1.15;
$line-height-title: 1.17;
$line-height-logo-card: 1.19;
$line-height-header-social-link: 1.22;
$line-height-placeholder: 1.25;
$line-height-hero: 1.36;
$line-height-specification: 1.56;
$line-height-project: 1.62;
$line-height-text: 1.71;
$line-height-submit: 1.875;
$line-height-example: 2;

$margin-section-item: 30px;
$margin-header-item: 50px; 